<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>第一组</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>我是第一组</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>name_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>名字</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>Title</key>
			<string>启用</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>slider_preference</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>第二组</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>我是第二组</string>
			<key>Title</key>
			<string>名字</string>
			<key>Key</key>
			<string>name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>选择器</string>
			<key>Key</key>
			<string>multi_value</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Titles</key>
			<array>
				<string>选项A</string>
				<string>选项B</string>
				<string>选项C</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>第三组就只有一个Slider</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_group_3</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
